# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Database & uploads
*.db
backend/data/*.db
backend/uploads/*
!backend/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
